# The name of the domain to use
# This must exactly match the URL that you connect to, or else the login cookie will not work
DOMAIN="localhost"

# A random 128 character alphanumeric string
# This is used to encrypt/decrypt the cookies
SESSION_SECRET="change_this_string"

# The port that the HTTP server will listen on
# If blank, it will default to 80 or 443, depending on whether a TLS certificate is specified
# This must not overlap with "LOCALHOST_PORT" or "WEBPACK_PORT"
PORT=

# The port that the WebPack development server will listen on
# If blank, it will default to 8080
# This must not overlap with "PORT" or "LOCALHOST_PORT"
WEBPACK_DEV_SERVER_PORT=

# The port that the localhost HTTP server will listen on
# If blank, it will default to 8081
# This must not overlap with "PORT" or "WEBPACK_PORT"
LOCALHOST_PORT=

# HTTPS (TLS) Configuration
# If blank, it will default to HTTP instead of using HTTPS
TLS_CERT_FILE=
TLS_KEY_FILE=

# The PostgreSQL database configuration
# If "DB_HOST" is blank, it will default to localhost
# If "DB_PORT" is blank, it will default to 5432 (the default PostgreSQL port)
DB_HOST=
DB_PORT=
DB_USER="hanabiuser"
DB_PASS="1234567890"
DB_NAME="hanabi"

# The Google Drive configuration (for automated database backups)
# If blank, it will skip backing up the database
# Additionally, make sure that the file assocated with the service account exists on the file system
# e.g. "/root/.gdrive/hanabi-live-1234567890ab.json"
GOOGLE_DRIVE_SERVICE_ACCOUNT=
GOOGLE_DRIVE_PARENT_DIRECTORY=

# The token from a Discord account used for the bot
# If blank, the Discord bot will not initialize
# https://github.com/reactiflux/discord-irc/wiki/Creating-a-discord-bot-&-getting-a-token
DISCORD_TOKEN=
# You can use commas here to specify multiple channels to listen to
DISCORD_LISTEN_CHANNEL_IDS=
DISCORD_LOBBY_CHANNEL_ID=

# A Google Analyitics tracking ID
# If blank, the GA middleware will not be used
# https://analytics.google.com/
GA_TRACKING_ID=

# The Sentry client key (DSN) for the Golang project
# e.g. "https://<key>@sentry.io/<project>"
# If blank, Sentry will not initialize
# https://docs.sentry.io/error-reporting/quickstart/?platform=browser#configure-the-sdk
SENTRY_DSN=

# The Sentry specification for uploading JavaScript source-maps
# If blank, WebPack will not upload source-maps
SENTRY_AUTH_TOKEN=
SENTRY_ORG="hanabi-live"
SENTRY_PROJECT="hanabi-live-client"
