# The name of the domain to use
# (this must exactly match the URL that you connect to, or else the login cookie will not work)
DOMAIN="localhost"

# A random 128 character alphanumeric string
# (used to encrypt/decrypt the cookies)
SESSION_SECRET="change_this_string"

# The port that the HTTP server will listen on
# (if blank, it will default to 80 or 443)
PORT=

# The port that the localhost HTTP server will listen on
# (if blank, it will default to 8081)
LOCALHOST_PORT=

# HTTPS (TLS) Configuration
# (if blank, it will default to HTTP instead of using HTTPS)
TLS_CERT_FILE=
TLS_KEY_FILE=

# The PostgreSQL database configuration
# (if "DB_HOST" is blank, it will default to localhost)
# (if "DB_PORT" is blank, it will default to 5432, which is the default PostgreSQL port)
DB_HOST=
DB_PORT=
DB_USER="hanabiuser"
DB_PASS="1234567890"
DB_NAME="hanabi"

# The Google Drive configuration (for automated database backups)
# (if blank, it will skip backing up the database)
GOOGLE_DRIVE_SERVICE_ACCOUNT=
GOOGLE_DRIVE_PARENT_DIRECTORY=

# The token from a Discord account used for the bot
# (if blank, the Discord bot will not initialize)
# https://github.com/reactiflux/discord-irc/wiki/Creating-a-discord-bot-&-getting-a-token
DISCORD_TOKEN=
# You can use commas here to specify multiple channels to listen to
DISCORD_LISTEN_CHANNEL_IDS=
DISCORD_LOBBY_CHANNEL_ID=

# A Google Analyitics tracking ID
# (if blank, the GA middleware will not be used)
# https://analytics.google.com/
GA_TRACKING_ID=

# The Sentry client key (DSN) for the project
# e.g. "https://<key>@sentry.io/<project>"
# (if blank, Sentry will not initialize)
# https://sentry.io/welcome/
SENTRY_DSN=
