# MacOS artifacts
.DS_Store

# Contains secrets
.env

# The compiled binary
hanabi-live
hanabi-live~
hanabi-live.exe

# Temporary files
compiling_client

# The message of the day
motd.txt

# The version file will change automatically with every commit
/data/version.json

# Various directories
backups
letsencrypt
logs
