# https://git-scm.com/docs/git-config/#Documentation/git-config.txt-coreautocrlf
# Default value: input
# Explicitly setting it to false prevents Git from changing line endings at any point, which can
# prevent issues when Windows users collaborate with MacOS/Linus users.
core.autocrlf=false

# https://git-scm.com/docs/git-config/#Documentation/git-config.txt-coreignoreCase
# Default value: false (on Linux machines) or true (on Windows machines)
# Explicitly setting it to false prevents the issue where Windows users cannot pull down
# casing-related file renames.
core.ignoreCase=false

# https://git-scm.com/docs/git-config/#Documentation/git-config.txt-pullrebase
# Default value: false
# Setting this prevents spurious merge commits:
# https://www.endoflineblog.com/gitflow-considered-harmful
pull.rebase=true

# Convert all files to use "\n" line endings.
* text=auto eol=lf

# Specify the file type for some binary files to prevent Git from changing the line endings upon
# cloning the repository.
*.mp3 binary
*.png binary
*.wav binary

# Specify the file type for some files that GitHub will not automatically characterize properly.
# https://github.com/github/linguist/blob/master/lib/linguist/languages.yml
.vscode/*.json linguist-language=JSON-with-Comments
tsconfig*.json linguist-language=JSON-with-Comments

# Suppress displaying changes on certain files to prevent cluttering commit diffs on GitHub.
package-lock.json linguist-generated=true
yarn.lock linguist-generated=true
pnpm-lock.yaml linguist-generated=true
bun.lock linguist-generated=true
