# Convert all files to use "\n" line endings.
* text=auto eol=lf

# Specify the file type for some files that GitHub will not automatically characterize properly.
# https://github.com/github/linguist/blob/master/lib/linguist/languages.yml
.vscode/*.json linguist-language=JSON-with-Comments
tsconfig*.json linguist-language=JSON-with-Comments

# Suppress displaying changes on certain files to prevent cluttering commit diffs on GitHub.
package-lock.json linguist-generated=true
yarn.lock linguist-generated=true
pnpm-lock.yaml linguist-generated=true
bun.lock linguist-generated=true
