# Windows artifacts
desktop.ini

# MacOS artifacts
.DS_Store

# Contains secrets
.env

# The compiled Golang binary
hanabi-live
hanabi-live~
hanabi-live.exe
hanabi-live-temp
hanabi-live-temp~
hanabi-live-temp.exe

# Temporary files
compiling_client

# The message of the day
motd.txt*

# The version file will change automatically with every commit
/packages/data/src/version.js

# Various directories
/backups
/letsencrypt
/logs
/ongoing_tables

# Private keys
GitHub_private_key.pem

# NPM modules are not typically included in a repository
node_modules

# Ignore output directories for packages
packages/**/dist
