# Ignore compiled output.
**/dist

# The VSCode CSpell plugin causes the file to become unformatted whenever a new word is added.
cspell.json

# Keldon files
**/keldon

# Golang files
go.mod

# Images
*.svg

# Minified files
*.min.js
*.min.css
