# Configure Travis CI
# https://travis-ci.org/

# In order to test two different languages, we have to use a matrix (e.g. a parallel job)
# https://stackoverflow.com/questions/27644586/how-to-set-up-travis-ci-with-multiple-languages
matrix:
  include:
    # Job #1: Client
    - language: node_js
      node_js:
        - node
      before_script:
        # Install the JavaScript tooling (TypeScript, Webpack, ESLint, etc.)
        - echo "Installing NPM modules..."
        - cd client
        - npm install
      script:
        - echo "Building the client..."
        - ./build_client.sh
        - echo "Linting the client code..."
        - ./lint_client.sh
        - echo "Running tests..."
        - npm test

    # Job #2: Server
    - language: go
      go:
        # This will automatically choose the latest released Go version
        - 1.x
      env:
        # This is needed so that Travis will use the "go.mod" file
        - GO111MODULE=on
      before_script:
        # Install the Go linter
        # https://github.com/golangci/golangci-lint
        - echo "Installing golangci-lint (the Go linter)..."
        - cd server
        - source .golangci-lint.version
        - curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin $GOLANGCI_LINT_VERSION
      script:
        - echo "Building the server..."
        - ./build_server.sh
        - echo "Linting the server code..."
        - ./lint_server.sh

    # Job #3: Spell Check
    - script:
        - echo "Spell checking..."
        - ./spell_check.sh

notifications:
  email:
    on_success: never
    on_failure: never
