runs:
  using: composite

  steps:
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: lts/*
        cache: yarn

    - name: Install dependencies
      run: yarn install --immutable
      shell: bash # Composite jobs must specify the shell.
