.quiz-container {
    text-align: center;
    background-color: #fff;
    margin: 0 auto;
    width: 100%;
    max-width: 770px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 60px;
    padding-top: 20px;
}

.qq-question {
    font-size: 1.17em;
    max-width: 80%;
    margin: 0% auto;
    margin-top: 20px !important;
    line-height: 1.2;
}

.qq-description {
    text-align: left;
}
.question {
    padding-top: 30px;
    padding-bottom: 10px;
}

.progress {
    font-size: 11px;
    text-align: right;
    position: relative;
    right: 30px;
}

ol.answers {
    font-size: 0.9em;
    list-style-type: none;
    cursor: pointer;
    counter-reset: li-counter;
    position: relative;
    margin: 0px auto;
    width: 80%;
    max-width: 500px;
    margin-bottom: 50px;
    padding: 0px;
}

ol.answers>li {
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    text-align: left;
    margin: 20px 0px;
}

ol.answers>li:before {
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    content: counter(li-counter);
    counter-increment: li-counter;
    display: inline-block;
    width: 30px;
    margin-right: 10px;
    padding: 5px 0px 5px 0px;
}

.qq-button {
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    display: inline-block;
    width: 120px;
    line-height: 1;
    margin: 2px 5px;
    padding: .7em .7em .6em;
}

.selected {
    background-color: #dfdfe0;
    font-weight: bold;
}

.scorecard {
    display: none;
}

.score {
    font-size: .8em;
    float: right;
    padding-right: 7%;
}

#social-media ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

#social-media ul li {
    display: inline-block;
}

#social-media ul li a {
    text-decoration: none;
}

#social-media ul li a svg {
    height: 2em;
    width: 3.4em;
    margin-right: 1em;
}

.answer {
    margin: 0% auto;
    width: 90%;
    max-width: 550px;
    margin-top: 20px !important;
}

.answer p:first-child {
    font-weight: bold;
    font-size: 1.2em;
    display: inline-block;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 0px;
    border-top: 1px solid #000000;
}

.answer p:nth-child(2) {
    margin: 0% auto;
    display: block;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 20px;
}

.answer>p {
    margin: 0px 0px 20px 0px !important;
}

.scorecard p:nth-child(1) {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1em !important;
    display: inline-block;
    margin-top: 45px;
}

.scorecard p:nth-child(2) {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 5px;
}