html, body {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 100%;
	margin: 0px;
	border: 0;
	background-color: black;
	overflow: hidden;
}

button {
	background-color: rgba(0, 0, 0, 0.6);
	width: 280px;
	height: 38px;
	margin: 5px;

	border: none;
	border-radius: 6px;
	font-size: 27px;
	color: white;
}

button:active {
	background-color: rgba(136, 136, 136, 0.6);
}

button:disabled {
	color: rgb(108, 108, 108);
}

button.abandon {
	background: url(../img/redx.png) no-repeat;
	background-size: contain;
	width: 46px;
	height: 46px;
	margin: 2px;

	border: none;
}

button.history-table {
	height: 30px;
	font-size: 18px;
}

button.enter-history-game {
	width: unset;
}

button.history-others {
	width: 165px;
}

#show-resources {
	position: absolute;
	right: 85px;
}

#show-settings {
	background-image: url(../img/gear.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 50px;

	position: absolute;
	right: 25px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#lobby {
	display: none;
	height: 100%;
	padding-right: 20px;
}

#pregame {
	background: url(../img/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	position: absolute;
	clear: both;
	width: 100%;
	height: 100%;
	min-width: 1000px;
	min-height: 600px;
	padding: 10px;

	color: black;
}

#login {
	font-size: large;
}

#login-container {
	padding-bottom: 1em;
}

#connecting {
	display: none;
}

#table-area {
	height: 50%;
	width: 100%;
}

#table-list-div {
	height: 80%;
	margin: 5px 0px 0px 0px;
}

#table-list {
	height: 85%;
	overflow-y: auto;
	white-space: nowrap;

	border: 1px solid #444;
	border-radius: 5px;
}

#joined-table {
	display: none;

	height: 50%;
	width: 100%;

	border: 1px solid #444;
	border-radius: 5px;
}

#joined-desc {
	float: left;
	width: 20%;
	height: 80%;
}

#joined-desc > p {
	padding-left: 5px;
}

.show-player {
	float: left;
	width: 16%;
	height: 80%;
}

.deck-select {
	height: 25px;
	overflow-y: hidden;
	font-size: 80%;
}

#choose-deck {
	max-width: 95%;
}

.player-name {
	font-weight: bold;
}

.player-details {
	overflow-y: auto;
	height: 80%;
	margin: 2px;
	padding: 2px;

	border: 1px solid #444;
	border-radius: 5px;
}

.player-details > table > tbody > tr > td:nth-child(2) {
	text-align: right;
}

#game-history {
	display: none;

	height: 50%;
	width: 100%;
}

#history-list-div {
	height: 80%;
	margin: 5px 0px 0px 0px;
}

#history-list {
	height: 85%;
	overflow-y: auto;

	border: 1px solid #444;
	border-radius: 5px;

	white-space: nowrap;
}

#game-history-details {
	display: none;

	height: 50%;
	width: 100%;
}

#history-details-list-div {
	height: 80%;
	margin: 5px 0px 0px 0px;
}

#history-details-list {
	height: 85%;
	overflow-y: auto;

	border: 1px solid #444;
	border-radius: 5px;
}

.detail-us {
	font-weight: bold;
}

.control-buttons {
	margin: 0px auto;
}

#chat {
	float: left;
	height: 42%;
	width: 72%;
	padding: 5px;
	margin-top: 5px;
	margin-right: 10px;

	border: 1px solid #444;
	border-radius: 5px;

	position: relative;
}

#user-list-div {
	overflow-y: auto;
	height: 42%;
	padding: 5px;
	margin-top: 5px;

	border: 1px solid #444;
	border-radius: 5px;
}

.user-name {
	width: 100px;
}

.user-seated {
	width: 60px;
	text-align: center;
}

.user-playing {
	width: 50px;
	text-align: center;
}

.user-status {
	width: 120px;
	text-align: center;
}

#chat-contents {
	height: 93%;
	overflow-y: auto;
}

#chat-entry {
	position: absolute;
	bottom: 5px;
	width: 98%;
}

#chat-input {
	width: 100%;
}

#create-table-dialog {
	display: none;

	position: absolute;
	width: 400px;
	/* We don't need to specify the height explicitly */
	top: 45px;
	left: 300px;
	z-index: 100;
	padding: 5px;

	background-color: rgba(255, 255, 255, 0.9);
	border: 3px solid #444;
	border-radius: 5px;
}

.create-table-dialog-col2 {
	width: 260px;
}

#resources-dialog {
	display: none;

	position: absolute;
	width: 500px;
	height: 400px;
	top: 45px;
	left: 200px;
	z-index: 100;
	padding: 5px;

	background-color: rgba(255, 255, 255, 0.9);
	border: 3px solid #444;
	border-radius: 5px;
}

#close-resources {
	position: absolute;
	bottom: 15px;
}

#settings-dialog {
	display: none;

	position: absolute;
	width: 500px;
	height: 475px;
	top: 45px;
	left: 200px;
	z-index: 100;
	padding: 5px;

	background-color: rgba(255, 255, 255, 0.9);
	border: 3px solid #444;
	border-radius: 5px;
}

#close-settings {
	position: absolute;
	bottom: 15px;
}

.lobby-element {
	background-color: rgba(255, 255, 255, 0.2);
}

.table-header {
	font-weight: bold;
	border-bottom: 1px solid #444;
}

.table-item {
	border-bottom: 1px solid #444;
}

.table-item:last-child {
	border-bottom: none;
}

.table-attr {
	display: inline-block;
	vertical-align: middle;
}

.table-icon {
	width: fit-content;
	padding-right: 10px;
	font-size: x-large;
}

.table-name {
	width: 240px;
	white-space: normal;
}

.table-players {
	width: 50px;
}

.table-variant {
	width: 260px;
}

.table-status {
	width: 90px;
}

.table-player {
	width: 305px;
}

.table-abandon {
	width: 55px;
}

.table-otherPlayerNames {
	padding-left: 15px;
}

.table-otherPlayerNames-compact {
	font-size: small;
}

.history-id {
	width: 75px;
}

.history-players {
	width: 30px;
}

.history-score {
	width: 50px;
	padding-right: 10px;
	text-align: right;
}

.history-ts {
	width: fit-content;
	padding-right: 20px;
}

.history-variant {
	width: 140px;
	padding-right: 25px;
}

#show-options {
	position: relative;
	bottom: 2px;
	width: 200px;
	font-size: 21px;
}

#logout {
	position: absolute;
	right: 25px;
	top: 1px;
	font-size: 16px;
	height: 21px;
	width: 80px;
}

#game {
	width: 100%;
	height: 100%;
	margin: 0px;
}

.white {
	color: white;
}
