/*
    Alpha edits
*/

#main > header p {
    border-top: 0;
    margin-top: 0;
}

.row {
    border-bottom: 0;
}

/*
    Common
*/

html, body, #page-wrapper {
    height: 100%;
}

body {
    background-color: rgb(34, 79, 39);
    /* This is the same color as the background image so that it won't show white while the image is loading */
    background-image: url(../img/background2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

a {
    color: blue;
}

table td {
    /* In Chrome, middle is default, but in Firefox, bottom is default */
    vertical-align: middle;
}

/*
    The "align-center" class will do horizontal centering (in "alpha.css")
    The "align-center-v" class will do vertical centering
*/
.align-center-v {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.margin0 {
    margin: 0 !important;
}

.margin1 {
    margin-bottom: 1em;
}

.margin4 {
    margin-bottom: 4em;
}

.padding0 {
    padding: 0 !important;
}

.padding0p5 {
    padding-bottom: 0.5em;
}

.padding-top1 {
    padding-top: 1em !important;
}

.padding-top1p5 {
    padding-top: 1.5em !important;
}

.padding-right1 {
    padding-right: 1em;
}

.slim-table {
    margin-bottom: 0.5em;
}

.slim-table td {
    padding: 0.25em 0.25em; /* vanilla is 0.75em 0.75em */
}

/* For text input labels */
.input-text {
    position: relative;
    top: 1em;
}

/* For text input labels with 2 lines */
.input-text2 {
    position: relative;
    top: 0.5em;
}

/* For checkbox labels */
.label-text {
    position: relative;
    top: 0.25em;
}

/*
    Title
*/

#title-text {
    color: white;
    position: relative;
    top: 0.1em;
}

#title-sub {
    color: #f2f2f2 !important;
}

#title-sub strong {
    color: white !important;
}

.login-icon {
    position: relative;
    top: 0.275em;
    right: 0.5em;
}

#login-ajax {
    position: relative;
    bottom: 0.25em;
    height: 3em;
}

/* Based on the Bootstrap alert color */
#login-alert {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 15px;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 4px;
}

#title-discord {
    margin-top: 3em;
    width: 5em;
}

/*
    Nav (the top bar)
*/

.nav-icon {
    position: relative;
    top: 0.05em;
    right: 0.3em;
}

.nav-hotkey-indicator {
    border-bottom: dotted 1px;
}

/*
    Lobby
*/

#lobby {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    /* Left and right margins are handled on the rows in "alpha.css" */
    height: calc(100% - 3em); /* The header is 3em */
    /*
        Even with width 100%, the scroll bar can pop up when going back from a game to the lobby
        So we can set "overflow-y" to explicitly prevent this from occuring
    */
    overflow-y: hidden;
}

#lobby > div > div {
    height: 100%;
}

#lobby > div > div > section {
    padding: 1.5em;
    margin-bottom: 0;
    height: 100%;
}

.lobby-half {
    height: calc((100% - 1.5em) / 2);
}

#lobby-separator {
    height: 1.5em;
}

.lobby-full {
    height: 100%;
}

.lobby-table-container {
    overflow-y: auto;
    height: 100%;
}

.lobby-button-icon {
    font-size: 1.5em;
    position: relative;
    top: 0.22em;
}

/*
    The list of ongoing tables / games
*/

#lobby-games-table {
    margin-bottom: 0;
}

/*
    Lobby chat
*/

#lobby-chat-text {
    overflow-y: auto;
    overflow-wrap: break-word;
    border-style: solid !important;
    border-color: #e5e5e5 !important;
    border: 1px;
    margin-bottom: 1em;
    padding: 0 0.5em 0 0.5em;
    height: calc(100% - 3.5em); /* The height of the input box is 3.5em */
}

/*
    User list
*/

#lobby-users-title {
    font-size: 1.3em;
}

#lobby-users-container {
    overflow-y: auto;
    height: calc(100% - 3em); /* The height of the "Online Users" text is 3em */
}

.lobby-users-box-container {
    padding-left: 1.5em !important;
}

#lobby-users-table-tbody a {
    text-decoration-skip-ink: none;
}

/*
    Pregame
*/

#lobby-pregame-left {
    font-size: 0.85em;
}

.lobby-pregame-player {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1em;
}

.lobby-pregame-player-away {
    margin-top: 1em;
    margin-bottom: 0;
}

#lobby-pregame-options {
    padding-left: 1em;
}

#lobby-pregame-options > li {
    padding-left: 0;
}

/*
    Create Game Tooltip
*/

#create-game-tooltip-title {
    width: 11em;
}

#create-game-timed-label {
    position: relative;
    top: 1.75em;
}

#create-game-timed-container {
    position: relative;
    top: 0.5em;
}

#create-game-submit {
    font-size: 1em;
}

.create-game-icon-up {
    position: relative;
    bottom: 0.75em;
}

/*
    Modals
*/

.modal {
    position: absolute;
    z-index: 1;
    top: 5em;
    left: 5em;
    right: 5em;
    bottom: 5em;
    overflow: auto;
}

/*
    In-game tooltips
*/

#game-tooltips > div {
    position: absolute;
}

.tooltipster-sidetip.tooltipster-shadow.tooltipster-shadow-big .tooltipster-content {
    font-size: 1.5em;
    padding: 0.5em;
    line-height: 1em;
}

#game-chat {
    font-size: 0.65em;
}

#game-chat-input {
    overflow-y: auto;
    overflow-wrap: break-word;
}

.game-tooltips-ol {
    margin-top: 0.5em;
    margin-bottom: 0;
    padding-left: 0.9em;
}
