/*
    Common
*/

body {
    background-color: rgb(34, 79, 39);
    /* The same color as the background image so that it won't show white while the image is loading */
    background-image: url(../img/background2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

table td {
    /* In Chrome, middle is default, but in Firefox, bottom is default */
    vertical-align: middle;
}

/* The "align-center" class will do horizontal centering (in "alpha.css").
   The "align-center-v" class will do vertical centering. */
.align-center-v {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.margin0 {
    margin: 0 !important;
}

.margin1 {
    margin-bottom: 1em;
}

.margin4 {
    margin-bottom: 4em;
}

.padding0 {
    padding: 0 !important;
}

.padding0p5 {
    padding-bottom: 0.5em;
}

.padding-top1 {
    padding-top: 1em !important;
}

.padding-top1p5 {
    padding-top: 1.5em !important;
}

.padding-right1 {
    padding-right: 1em;
}

.slim-table {
    margin-bottom: 0.5em;
}

.slim-table td {
    padding: 0.25em 0.25em; /* vanilla is 0.75em 0.75em */
}

/* For text input labels */
.input-text {
    position: relative;
    top: 1em;
}

/* For text input labels with 2 lines */
.input-text2 {
    position: relative;
    top: 0.5em;
}

/* For checkbox labels */
.label-text {
    position: relative;
    top: 0.25em;
}

/*
    Nav
*/

.nav-icon {
    position: relative;
    top: 0.05em;
    right: 0.3em;
}

.nav-hotkey-indicator {
    border-bottom: dotted 1px;
}

/*
    Title
*/

#title-h {
    height: 1.75em;
}

#title-text {
    color: white;
    position: relative;
    top: 0.1em;
}

#title-sub {
    color: #f2f2f2 !important;
}

#title-sub strong {
    color: white !important;
}

.login-icon {
    position: relative;
    top: 0.275em;
    right: 0.5em;
}

#login-ajax {
    position: relative;
    bottom: 0.25em;
    height: 3em;
}

/* Based on the Bootstrap alert color */
#login-alert {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 15px;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 4px;
}

#title-discord {
    margin-top: 3em;
    width: 5em;
}

/*
    Lobby
*/

.lobby-box {
    padding: 1.5em;
}

.lobby-top-box {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    height: 45vh;
}

.lobby-users-box-container {
    padding-left: 1.5em !important;
}

.lobby-table-container {
    overflow-y: auto;
    height: 40vh;
}

#lobby-chat {
    margin-bottom: 0;
    height: 41vh;
}

#lobby-chat-text {
    height: 29vh;
    overflow-y: auto;
    overflow-wrap: break-word;
    border-style: solid !important;
    border-color: #e5e5e5 !important;
    border: 1px;
    margin-bottom: 1em;
    padding: 0 0.5em 0 0.5em;
}

#lobby-users {
    margin-bottom: 0;
    height: 41vh;
}

#lobby-users-title {
    font-size: 1.3em;
}

#lobby-users-container {
    overflow-y: auto;
    height: 30vh;
}

.lobby-game-player {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1em;
}

.lobby-game-player-away {
    margin-top: 1em;
    margin-bottom: 0;
}

.lobby-button-icon {
    font-size: 2em;
    position: relative;
    top: 0.22em;
}

/*
    Create Game Tooltip
*/

#create-game-tooltip-title {
    width: 11em;
}

#create-game-timed-label {
    position: relative;
    top: 1.75em;
}

#create-game-timed-container {
    position: relative;
    top: 0.5em;
}

#create-game-submit {
    font-size: 1em;
}

/*
    In-game tooltips
*/

#game-tooltips > div {
    position: absolute;
}

.tooltipster-sidetip.tooltipster-shadow.tooltipster-shadow-big .tooltipster-content {
    font-size: 1.5em;
    padding: 0.5em;
    line-height: 1em;
}

.game-tooltips-ol {
    margin-top: 0.5em;
    margin-bottom: 0;
    padding-left: 0.9em;
}
