/*
    Local Google Fonts
    From: https://google-webfonts-helper.herokuapp.com/
*/

/* source-sans-pro-300 - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source Sans Pro Light'), local('SourceSansPro-Light'),
         url('/public/webfonts/source-sans-pro-v11-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/public/webfonts/source-sans-pro-v11-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-sans-pro-300italic - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 300;
    src: local('Source Sans Pro Light Italic'), local('SourceSansPro-LightItalic'),
         url('/public/webfonts/source-sans-pro-v11-latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/public/webfonts/source-sans-pro-v11-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-sans-pro-regular - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
         url('/public/webfonts/source-sans-pro-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/public/webfonts/source-sans-pro-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-sans-pro-italic - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 400;
    src: local('Source Sans Pro Italic'), local('SourceSansPro-Italic'),
         url('/public/fonts/source-sans-pro-v11-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/public/fonts/source-sans-pro-v11-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*
    Font Awesome 6 fixes
*/

input[type="checkbox"] + label:before,
input[type="radio"] + label:before,
.icon:before,
#navButton .toggle:before {
    font-family: "Font Awesome 5 Free";
}

/*
    Alpha edits
*/

#main > header p {
    border-top: 0;
    margin-top: 0;
}

.row {
    border-bottom: 0;
}

a {
    /* The default link style is a dotted bottom border, which is quite ugly */
    border-bottom: 0;
    text-decoration: underline;
    color: blue;
}

/* Make the lobby width be 80% on big resolutions and 100% on smaller resolutions */
@media screen and (min-width: 1280px) {
    .container.max {
        width: 80%;
    }
}

/* Make the nav bar always show, even on the tiniest resolutions */
@media screen and (max-width: 840px) {
    #header {
        display: block;
    }
}

/*
    Common
*/

html, body, #page-wrapper {
    height: 100%;
}

body {
    background-color: #00420f;
    background-image: url(../img/dark-wood.png);
    background-repeat: repeat;
    background-attachment: fixed;
}

table td {
    /* In Chrome, middle is default, but in Firefox, bottom is default */
    vertical-align: middle;
}

/*
    The "align-center" class will do horizontal centering (in "alpha.css")
    The "align-center-v" class will do vertical centering
*/
.align-center-v {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.margin0 {
    margin: 0 !important;
}

.margin1 {
    margin-bottom: 1em;
}

.margin3 {
    margin-bottom: 3em;
}

.padding0 {
    padding: 0 !important;
}

.padding0p5 {
    padding-bottom: 0.5em;
}

.padding0p75 {
    padding-bottom: 0.75em;
}

.padding-top1 {
    padding-top: 1em !important;
}

.padding-top1p5 {
    padding-top: 1.5em !important;
}

.padding-right1 {
    padding-right: 1em;
}

.slim-table {
    margin-bottom: 0.5em;
}

.slim-table td {
    padding: 0.25em 0.25em; /* vanilla is 0.75em 0.75em */
}

/* For text input labels */
.input-text {
    position: relative;
    top: 1em;
}

/* For text input labels with 2 lines */
.input-text2 {
    position: relative;
    top: 0.5em;
}

/* For checkbox labels */
.label-text {
    position: relative;
    top: 0.25em;
}

/*
    Title
*/

#title-text {
    color: white;
    position: relative;
    top: 0.1em;
}

#title-sub {
    color: #f2f2f2 !important;
}

#title-sub strong {
    color: white !important;
}

.login-icon {
    position: relative;
    top: 0.275em;
    right: 0.5em;
}

#login-ajax {
    height: 3em;
}

/* Based on the Bootstrap alert color */
#login-alert {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 15px;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 4px;
}

#title-discord {
    margin-top: 3em;
    width: 5em;
}

/*
    Nav (the top bar)
*/

.nav-icon {
    position: relative;
    top: 0.05em;
    right: 0.3em;
}

.nav-hotkey-indicator {
    border-bottom: dotted 1px;
}

/*
    Lobby
*/

#lobby {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    /* Left and right margins are handled on the rows in "alpha.css" */
    height: calc(100% - 3em); /* The header is 3em */
}

#lobby > div > div {
    height: 100%;
}

#lobby > div > div > section {
    padding: 1.5em;
    margin-bottom: 0;
    height: 100%;
}

.lobby-half {
    height: calc((100% - 1.5em) / 2);
}

#lobby-separator {
    height: 1.5em;
}

.lobby-full {
    height: 100%;
}

.lobby-table-container {
    overflow-y: auto;
    height: 100%;
}

.lobby-button-icon {
    font-size: 1.5em;
    position: relative;
    top: 0.22em;
}

.lobby-title {
    /* We want to make h3 elements a bit smaller */
    font-size: 1.3em;
}

/*
    The list of ongoing tables / games
*/

#lobby-games-table {
    margin-bottom: 0;
}

.lobby-games-table-unstarted {
    background-color: #fffff0 !important;
}
.lobby-games-table-started {
    background-color: #e6ffee !important;
}
.lobby-games-table-replay {
    background-color: #fff0ff !important;
}

/*
    Lobby chat
*/

.lobby-chat-text-box {
    overflow-y: auto;
    overflow-wrap: break-word;
    border-style: solid !important;
    border-color: #e5e5e5 !important;
    border: 1px;
    margin-bottom: 1em;
    padding: 0 0.5em 0 0.5em;
    height: calc(100% - 3.5em); /* The height of the input box is 3.5em */
}

#lobby-chat-pregame-text {
    height: calc(100% - 6.05em);
    /* We have to move it further down because of the input box and the title */
}

.chat-emote {
    height: 1.6em; /* This is derived from how Twitch does it */
}

/*
    User list
*/

#lobby-users-container {
    overflow-y: auto;
    height: calc(100% - 3em); /* The height of the "Online Users" text is 3em */
}

.lobby-users-box-container {
    padding-left: 1.5em !important;
}

#lobby-users-table-tbody a {
    text-decoration-skip-ink: none;
}

/*
    Pregame
*/

#lobby-pregame > div {
    height: 100%;
}

#lobby-pregame-left {
    font-size: 0.85em;
}

.lobby-pregame-player {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1em;
    height: 100%;
}

.lobby-pregame-player-away {
    margin-top: 1em;
    margin-bottom: 0;
}

#lobby-pregame-options {
    padding-left: 1em;
}

#lobby-pregame-options > li {
    padding-left: 0;
}

.lobby-pregame-tooltip {
    font-size: 0.75em;
    width: 8em;
}

.lobby-pregame-tooltip-icon {
    font-size: 0.75em;
}

.lobby-pregame-tooltip > div {
    /* Alpha sets this to -2em, so we have to reset it */
    margin-left: 0em;
    text-align: left;
}

.lobby-pregame-tooltip > div > div {
    padding-left: 0;
}

.lobby-pregame-col {
    width: 13.75%;
}

/*
    Create Game Tooltip
*/

#create-game-tooltip-title {
    width: 11em;
}

#create-game-tooltip > div {
    /* Alpha sets this to -2em, so we have to reset it */
    margin-left: 0em;
    text-align: left;
}

#create-game-tooltip > div > div {
    padding-left: 0;
}

.create-game-icon {
    display: inline-block;
    width: 2em;
    text-align: center;
}

.create-game-info-icon {
    position: relative;
    top: 0.35em;
}

.create-game-text-label {
    /* Annoyingly, the text does not line up with the checkbox */
    position: relative;
    top: 0.25em;
}

#create-game-timed-label {
    /* We need to move the "Timed" label even more */
    position: relative;
    top: 0.75em;
}

#create-game-timed-container {
    /* We need to move this down so that it is centered with the input elements */
    position: relative;
    top: 0.5em;
}

#create-game-submit {
    font-size: 1em;
}

/*
    Watch Specific Replay Tooltip
*/

#replay-tooltip-title {
    width: 13em;
}

#replay-json {
    resize: none;
}

#replay-error-row-text {
    color: red;
}

.replay-radio-container {
    position: absolute;
}

.replay-radio {
    top: 0.6em;
}

.replay-radio-label {
    position: relative;
    top: 0.4em;
}

/*
    Modals
*/

.modal {
    position: absolute;
    z-index: 1;
    top: 5em;
    left: 5em;
    right: 5em;
    bottom: 5em;
    overflow: auto;
}

/*
    Game
*/

#game {
    height: 100%;
}

/*
    In-game tooltips
*/

#game-tooltips > div {
    position: absolute;
}

.tooltipster-sidetip.tooltipster-shadow.tooltipster-shadow-big .tooltipster-content {
    font-size: 1.5em;
    padding: 0.5em;
    line-height: 1em;
}

.game-tooltips-ul {
    list-style-type: none;
    margin-top: 0.5em;
    margin-bottom: 0;
    text-indent: -0.5em;
}

.game-tooltips-ul > li {
    margin-bottom: 0.1em;
}

.game-tooltips-icon {
    display: inline-block;
    width: 0.5em;
    text-align: center;
}

.game-tooltips-ol {
    margin-top: 0.5em;
    margin-bottom: 0;
    padding-left: 0.9em;
}

/*
    In-game modals
*/

#game-chat-modal {
    position: absolute;
    z-index: 1;
    /* The modal is automatically positioned in the "chat.js" file */
    background-color: black;
    border-radius: 10px; /* This has to match the border-radius below */
}

#game-chat-modal > div {
    width: 100%;
    height: 100%;
}

#game-chat-modal > div > section {
    width: 100%;
    height: calc(100% - 1.75em);
    /* We have to move it further down because of the header */
    padding: 1em;
    margin: 0;
}

#game-chat-modal-header {
    cursor: move;
    text-align: right;
}

#game-chat-modal-header-close {
    cursor: pointer;
    color: white;
    padding: 0.5em;
    margin-right: 0.25em;
}

/* From: https://codepen.io/ZeroX-DG/pen/vjdoYe */
.resizable .resizers{
    width: 100%;
    height: 100%;
    border: 3px solid black;
    border-radius: 10px; /* This has to match the border-radius above */
    box-sizing: border-box;
}

.resizable .resizers .resizer{
    width: 10px;
    height: 10px;
    position: absolute;
}

.resizable .resizers .resizer.top-left {
    left: -5px;
    top: -5px;
    cursor: nwse-resize;
}
.resizable .resizers .resizer.top-right {
    right: -5px;
    top: -5px;
    cursor: nesw-resize;
}
.resizable .resizers .resizer.bottom-left {
    left: -5px;
    bottom: -5px;
    cursor: nesw-resize;
}
.resizable .resizers .resizer.bottom-right {
    right: -5px;
    bottom: -5px;
    cursor: nwse-resize;
}

/*
    Profile
*/

.score-modifier {
    font-size: 0.75em;
}

.green {
    color: green;
}

.red {
    color: red;
}

.profile-tooltip {
    font-size: 0.75em;
}
