# NPM modules are not typically included in a repository
node_modules
/package-lock.json

# We don't need to include the browserified/transpiled/minified JS
/main.browserified.js
/main.browserified.js~
/main.bundled.js
/main.transpiled.js
/main.min.js
