# NPM modules are not typically included in a repository
node_modules
/package-lock.json

# We don't need to include the transpiled/minified JS
/main.bundled.js
/main.bundled.js~
/main.js
/main.min.js
/main.min.js.map
