{{ define "informational" }}
  <h2 class="align-center">Password Reset</h2>

  <p>
    Since Hanabi Live does not ask for or store your email address, the only way
    to reset the password for an account is for an administrator to manually
    reset it. This process necessarily involves revealing personal information
    about yourself to the Hanabi Live administrators, so this is
    <em>not recommended</em>. Instead, feel free to create as many extra free
    accounts as you need.
  </p>

  <p style="margin-bottom: 1em;">
    If you absolutely must recover the password to your old account, then enter
    a new password and provide the generated hash to a website administrator via
    a private message on
    <a href="https://discord.gg/FADvkJp">the Discord server</a>.
  </p>

  <br />
  <input id="new-password" type="password" placeholder="New Password" />
  <br />

  <button id="generate-hash-button" class="button fit" type="submit">
    <i class="fas fa-key"></i>&nbsp; Generate Hash
  </button>
  <br /><br />

  <input id="generated-hash" type="text" placeholder="Generated Hash" />

  <script
    type="text/javascript"
    src="/public/js/lib/jquery-3.5.0.min.js"
  ></script>
  <script type="text/javascript">
    $(document).ready(() => {
      const KEY_RETURN = 13;
      $("#generate-hash-button").click(() => {
        const password = $("#new-password").val();
        if (password.length === 0) {
          return;
        }
        fetch("/password-reset", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
          body: encodeURI(`password=${password}`),
        }).then((response) => {
          response.text().then((hash) => {
            $("#generated-hash").val(hash);
            $("#generated-hash").trigger("focus");
            $("#generated-hash").select();
          });
        });
      });

      $("#new-password").on("keypress", (event) => {
        if (event.which === KEY_RETURN) {
          $("#generate-hash-button").click();
        }
      });

      $("#new-password").trigger("focus");
    });
  </script>
{{ end }}
