{{define "informational"}}
<h2 class="align-center">Password Reset</h2>

<p style="margin-bottom: 1em;">Enter your new password:</p>

<input id="new-password" type="password" placeholder="New Password" />
<br />

<button id="generate-hash-button" class="button fit" type="submit">
  <i class="fas fa-key"></i>&nbsp;
  Generate Hash
</button>
<br /><br />

<p>Once you have generated the respective hash for your password, provide this to a website administrator via a private message on <a href="https://discord.gg/FADvkJp">the Discord server</a>.</p>

<input id="generated-hash" type="text" placeholder="Generated Hash" />

<script type="text/javascript" src="/public/js/lib/jquery-3.5.0.min.js"></script>
<script type="text/javascript">
  $(document).ready(() => {
    $('#generate-hash-button').click(() => {
      const password = $('#new-password').val();
      if (password.length === 0) {
        return;
      }
      fetch('/password-reset', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: encodeURI(`password=${password}`),
      }).then((response) => {
        response.text().then((hash) => {
          $('#generated-hash').val(hash);
          $('#generated-hash').focus();
          $('#generated-hash').select();
        });
      })
    });

    $('#new-password').on('keypress', (event) => {
      if (event.key === 'Enter') {
        $('#generate-hash-button').click();
      }
    });

    $('#new-password').focus();
  });
</script>
{{end}}
