{{define "profile"}}
<style>
    .stat-description {
        /* Override the existing width since the columns are shorter on this page */
        width: 11em;
    }
</style>
<table>
    <th>
        <td>2-player</td>
        <td>3-player</td>
        <td>4-player</td>
        <td>5-player</td>
        <td>6-player</td>
        <td>Total</td>
    </th>
    <tr>
        <td>Max scores achieved</td>
        <td>{{index .NumMaxScoresPerType 0}}</td>
        <td>{{index .NumMaxScoresPerType 1}}</td>
        <td>{{index .NumMaxScoresPerType 2}}</td>
        <td>{{index .NumMaxScoresPerType 3}}</td>
        <td>{{index .NumMaxScoresPerType 4}}</td>
        <td>{{index .NumMaxScoresPerType 5}}</td>
    </tr>
</table>
<ul>
    <li>
        <span class="stat-description">Total max scores:</span>
        {{.NumMaxScores}} / {{.TotalMaxScores}}
    </li>
    <li>
        <span class="stat-description">Total 2-player max scores:</span>
        {{index .NumMaxScoresPerType 0}} / {{.TotalMaxScoresPerType}}
    </li>
    <li>
        <span class="stat-description">Total 3-player max scores:</span>
        {{index .NumMaxScoresPerType 1}} / {{.TotalMaxScoresPerType}}
    </li>
    <li>
        <span class="stat-description">Total 4-player max scores:</span>
        {{index .NumMaxScoresPerType 2}} / {{.TotalMaxScoresPerType}}
    </li>
    <li>
        <span class="stat-description">Total 5-player max scores:</span>
        {{index .NumMaxScoresPerType 3}} / {{.TotalMaxScoresPerType}}
    </li>
    <li>
        <span class="stat-description">Total 6-player max scores:</span>
        {{index .NumMaxScoresPerType 4}} / {{.TotalMaxScoresPerType}}
    </li>
</ul>

<ul id="filter-players" class="horizontal">
    <li>
        <div class="create-game-icon">
            <i class="fas fa-users" style="position: relative; top: 1px;"></i>
        </div>
        Filter by # of Players
    </li>
    <li>
        <select id="filter-by-players">
            <option value="all">All</option>
            <option value="2">2-Players</option>
            <option value="3">3-Players</option>
            <option value="4">4-Players</option>
            <option value="5">5-Players</option>
            <option value="6">6-Players</option>
        </select>
    </li>
</ul>

<br /><br /><br />

<table>
    <thead>
        <tr>
            <th>Variant</th>
            <th># of Players</th>
            <th>Current Score</th>
        </tr>
    </thead>
    <tbody>
        {{range $index, $results := .VariantStats}}
            {{range $index2, $results2 := .BestScores}}
                {{if or (ne .Score $results.MaxScore) (ne .Modifier 0)}}
                    <tr class="missing-scores-row-{{.NumPlayers}}">
                        <td>{{$results.Name}}</td>
                        <td>{{.NumPlayers}}</td>
                        <td>
                            {{.Score}} / {{$results.MaxScore}} &nbsp;
                            {{if eq .Modifier 1}}
                                <i class="fas fa-times score-modifier red tooltip" data-tooltip-content="#modifier-deckplays"></i>
                            {{else if eq .Modifier 2}}
                                <i class="fas fa-times score-modifier red tooltip" data-tooltip-content="#modifier-emptyclues"></i>
                            {{else if eq .Modifier 3}}
                                <i class="fas fa-times score-modifier red tooltip" data-tooltip-content="#modifier-deckplays-emptyclues"></i>
                            {{end}}
                        </td>
                    </tr>
                {{end}}
            {{- end -}}
        {{- end -}}
    </tbody>
</table>
{{end}}
