{{define "informational"}}
<h2 class="align-center">Password Reset</h2>

<p style="margin-bottom: 1em;">Enter your new password:</p>

<input id="new-password" type="password" placeholder="New Password" />
<br />

<button id="generate-hash-button" class="button fit" type="submit">
  <i class="fas fa-key"></i>&nbsp;
  Generate Hash
</button>
<br /><br />

<p>Once you have generated the respective hash for your password, provide this to a website administrator via a private message on <a href="https://discord.gg/FADvkJp">the Hanabi Discord server</a>.</p>

<input id="generated-hash" type="text" placeholder="Generated Hash" />

<script type="text/javascript" src="/public/js/lib/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/2.4.2/sha.js"></script>
<script type="text/javascript">
  $(document).ready(() => {
    $('#generate-hash-button').click(() => {
      const salt = 'Hanabi password '; // Copied from "login.ts"
      const plaintextPassword = $('#new-password').val();
      const hash = hashPassword(salt, plaintextPassword)
      $('#generated-hash').val(hash);
      $('#generated-hash').focus();
      $('#generated-hash').select();
    });

    $('#new-password').on('keypress', (event) => {
      if (event.key === 'Enter') {
        $('#generate-hash-button').click();
      }
    });

    $('#new-password').focus();
  });

  const hashPassword = (salt, plaintextPassword) => {
    const shaObj = new jsSHA('SHA-256', 'TEXT', { encoding: 'UTF8' });
    const stringToHash = `${salt}${plaintextPassword}`;
    shaObj.update(stringToHash);
    return shaObj.getHash('HEX');
  };
</script>
{{end}}
