{{define "content"}}
<style>
    th:hover {
        background-color: rgb(220, 220, 220);
        cursor: pointer;
    }
</style>

<div id="page-wrapper">

    <!-- Header -->
    <header id="header">
        <h1>Hanabi Live</h1>
        <nav id="nav"></nav>
    </header>

    <!-- Main -->
    <section id="main" class="container max">
        <header>
            <h2><img src="/public/img/logos/5.png" height="200"></h2>
        </header>
        <div class="row uniform 100%">
            <div class="col-12">
                <section class="box">
                    <h2 class="align-center">Global Statistics</h2>

                    <ul>
                        <li>
                            <span class="stat-description">Games played (in non-speedruns):</span>
                            {{.NumGames}}
                        </li>
                        <li>
                            <span class="stat-description">Time spent playing (in non-speedruns):</span>
                            {{if .TimePlayed}}{{.TimePlayed}}{{else}}-{{end}}
                        </li>
                        <li>
                            <span class="stat-description">Games played (in speedruns):</span>
                            {{.NumGamesSpeedrun}}
                        </li>
                        <li>
                            <span class="stat-description">Time spent playing (in speedruns):</span>
                            {{if .TimePlayedSpeedrun}}{{.TimePlayedSpeedrun}}{{else}}-{{end}}
                        </li>
                        <li>
                            <span class="stat-description">Number of variants:</span>
                            {{.NumVariants}}
                        </li>
                        <li>
                            <span class="stat-description">2-player max scores achieved:</span>
                            {{index .NumMaxScoresPerType 0}} &nbsp;({{index .PercentageMaxScoresPerType 0}}%)
                        </li>
                        <li>
                            <span class="stat-description">3-player max scores achieved:</span>
                            {{index .NumMaxScoresPerType 1}} &nbsp;({{index .PercentageMaxScoresPerType 1}}%)
                        </li>
                        <li>
                            <span class="stat-description">4-player max scores achieved:</span>
                            {{index .NumMaxScoresPerType 2}} &nbsp;({{index .PercentageMaxScoresPerType 2}}%)
                        </li>
                        <li>
                            <span class="stat-description">5-player max scores achieved:</span>
                            {{index .NumMaxScoresPerType 3}} &nbsp;({{index .PercentageMaxScoresPerType 3}}%)
                        </li>
                        <li>
                            <span class="stat-description">6-player max scores achieved:</span>
                            {{index .NumMaxScoresPerType 4}} &nbsp;({{index .PercentageMaxScoresPerType 4}}%)
                        </li>
                        <li>
                            <span class="stat-description">Total max scores achieved:</span>
                            {{.NumMaxScores}} &nbsp;({{.PercentageMaxScores}}%)
                        </li>
                    </ul>

                    <br />
                    <h2 class="align-center">Per-Variant Statistics</h2>
                    <br />

                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Total Games</th>
                                <th>Average Score</th>
                                <th>Total Perfect Scores</th>
                                <th>Total Strikeouts</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range $index, $results := .Variants}}
                                <tr>
                                    <td><a href="/variant/{{.ID}}">{{.Name}}</a></td>
                                    <td>{{.NumGames}}</td>
                                    <td>{{.AverageScore}}</td>
                                    <td>{{.NumMaxScores}}{{if ne .NumMaxScores 0}} &nbsp;({{.MaxScoreRate}}%){{end}}</td>
                                    <td>{{.NumStrikeouts}}{{if ne .NumStrikeouts 0}} &nbsp;({{.StrikeoutRate}}%){{end}}</td>
                                </tr>
                            {{- end -}}
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript" src="/public/js/lib/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/public/js/lib/jquery.tablesorter-2.31.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(() => {
        // Initialize the table sorting
        $('table').tablesorter();
    });
</script>

{{end}}
