{{define "informational"}}
<h2 class="align-center">List of Videos</h2>

<h3>Introduction</h3>
<ul>
    <li><a href="https://www.youtube.com/watch?v=jR9i1qCbHXQ">The Rules of the Game</a></li>
</ul>

<h3>Beginner-Level</h3>
<ul>
    <li>Play Clues and Save Clues - Coming soon</li>
    <li>Prompts - Coming soon</li>
    <li>Finesses - Coming soon</li>
</ul>

<h3>Other (Old / Outdated)</h3>
<ul>
    <li><a href="https://www.youtube.com/watch?v=yyrtUm9i6uM">The Perfect Game of Hanabi</a></li>
    <li><a href="https://www.youtube.com/watch?v=JnSLF0p4yiw">A Typical Game on Keldon</a></li>
</ul>
{{end}}
